# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / JetBrains
.vs/
.idea/

# Logs
*.log

# Database
*.db
*.sqlite
*.mdf
*.ldf

# Rider / ReSharper
*.DotSettings.user

# Others
*.DS_Store
